name: Build sample material

on:
  push:
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: mdslides@0.3,mdbook@0.4,mdbook-mermaid@0.12,flip-link@0.1.7

      - name: Install targets
        run: |
          rustup target add thumbv7em-none-eabihf
          rustup toolchain add beta
          rustup component add rust-src --toolchain beta
          
      - name: Find slug name
        run: |
          slug=$(./describe.sh "${GITHUB_REF}")
          echo "Building with slug '${slug}'"
          echo "slug=${slug}" >> "${GITHUB_ENV}"

      - name: Build and test
        env: # Or as an environment variable
          HIDDEN_MESSAGE: ${{ secrets.HIDDEN_MESSAGE }}
        run: |
          ./build.sh "./rust-exercises-${{ env.slug }}"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: ${{success()}}
        with:
          name: Artifacts
          if-no-files-found: error
          path: |
            ./rust-exercises-*

      - name: Create and Upload Release
        if: github.event_name == 'push' && startswith(github.ref, 'refs/tags/')
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./rust-exercises-${{ env.slug }}.zip
          allowUpdates: true
          updateOnlyUnreleased: true
