name: Weekly Canary Build

env:
  CARGO_TERM_COLOR: always     # We want colors in our CI output
  CARGO_INCREMENTAL: 0         # Don't waste time writing out incremental build files
  CARGO_PROFILE_TEST_DEBUG: 0  # These are thrown away anyways, don't produce them

on:
    schedule:
        - cron: '0 0 * * Mon'

jobs:
  weekly-canary-build:
    strategy:
        fail-fast: false
        matrix:
            rust-channel: [stable, beta, nightly]
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: mdslides@0.3,mdbook@0.4,mdbook-mermaid@0.12,flip-link@0.1.10

        # `minimal` profile avoids downloading `rustdocs`, `clippy`, etc.
      - name: Install targets, update, set default Rust
        run: |
          rustup profile set minimal
          rustup update ${{ matrix.rust-channel }}
          rustup default ${{ matrix.rust-channel }}
          rustup component add rust-src
          rustup component add rustfmt
          rustup target add thumbv7em-none-eabihf

      - name: Find slug name
        run: |
          slug=$(./describe.sh "${GITHUB_REF}")
          echo "Building with slug '${slug}'"
          echo "slug=${slug}" >> "${GITHUB_ENV}"

      - name: Build and test
        env: # Or as an environment variable
          HIDDEN_MESSAGE: ${{ secrets.HIDDEN_MESSAGE }}
        run: |
          ./build.sh "./rust-exercises-${{ env.slug }}"
